---
title:  "Slack"
doc_title:  "Slack notifications from Snap CI builds"
---

<%= partial 'chat-notification', :locals => {
  :tool_name => 'Slack',
  :tool_url => 'https://slack.com',
  :channel_terminology => 'channel'
  } %>

# Troubleshooting 

* If you have entered the wrong Slack API key and need to delete it, first navigate to the <a href="https://snap-ci.com/settings/repositories">settings page</a> and click on <a href="https://snap-ci.com/settings/slack_credentials">'Slack credentials'</a> in the sidebar

* Here you can delete the current API key, and replace it if needed
