@import "compass";
@import "compass/reset";
@import "fonts";
@import "images";
@import "sidebar";
@import "topic";
@import "main";
@import "syntax";
@import "available-packages";
@import "responsive";

a.wip {
  border: 1px solid #eee;
  @include border-radius(5px);
  padding-left: 10px;
  padding-right: 10px;
  &:after {
    content: '[wip]';
    padding-left: 4px;
    font-size: 60%;
    vertical-align: middle;
    color: red;
  }
}
