@import "compass/utilities/general/clearfix";

html, body {
  height: 100%;
}

body {
  font-family: 'OpenSansLight';
  font-size: 13px;
  line-height: 1.9;
  color: #4A4A4A;
  background-color: #FEFEFE;

  * {
    line-height: 1.8;
  }

  a {
    text-decoration: none;
  }

  em {
    font-style: italic;
  }

  .site {
    .header {
      padding: 4px 40px 0;
      background-color: #565656;
      @include clearfix;

      .logo {
        float: left;
        height: 38px;
        width: 36px;
        background: image-url('retina/snap-logo-white-square-no-text@2x.png') no-repeat;
        background-size: 100%;
        margin-top: 4px;
      }

      .header-actions {
        float: right;
        font-size: 13px;
        letter-spacing: 1px;
        @include clearfix;

        .docs, .blogs, .login, .search-form {
          color: #EEE;
          float: right;
          font-size: 16px;
          margin-left: 20px;
          padding: 8px;
          text-align: center;
        }

        .search-form {
          input {
            height: 14px;
            background-position-y: 4px;
          }
        }

      }

    }

    .footer {
      background-color: #EEE;
      padding: 20px 60px 50px 50px;

      .copyright {
        float: left;
      }

      .fork-and-edit {
        display: inline-block;
        float: right;
        padding-right: 60px;
      }
    }
  }
}
