@mixin padding-for($level){
  $basePadding: 16px;
  $paddingPerNesting: 20px;
  padding-left: $basePadding + ($paddingPerNesting * $level);
}
.sidebar {
  padding: 30px 0;
  width: 25%;
  right: 25%;

  li {
    list-style: none;
    color: #FFF;
    font-family: RobotoLight;
    font-size: 12px;

    display: block;

    a, span {
      color: #EEE;
      display: block;
    }

    .nest-1 {
      @include padding-for(1);
    }

    .nest-2{
      @include padding-for(2);
    }

    .nest-3{
      @include padding-for(3);
    }

    .nest-4{
      @include padding-for(4);
    }

    a, span {
      color: #EEE;
    }

    .current {
      background-color: rgba(238, 238, 238, 0.7);
      color: #000;
      font-family: RobotoMediumItalic;
      font-size: 13px;
    }

    .section-name {
      color: #FFF;
      font-family: RobotoMedium;
      font-size: 13px;
    }
  }

}
