@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";

.content {
  font-family: 'RobotoRegular';
  margin: 0 auto;
  @include clearfix;

  .topic-container, .sidebar-container {
    float: left;
    width: 100%;
    position: relative;
  }

  .sidebar-container {
    background-color: #AAA;
  }

  .topic-container {
    left: 25%;
    background-color: #FEFEFE;
    .toc-anchor {
      padding-left: 10px;
      color: #575757;
      font-weight: bold;
    }
  }

  .topic, .sidebar {
    float: left;
    position: relative;
  }

  .topic {
    right: 25%;
    width: 75%;

    .doc-content {
      padding: 0 60px 60px;
    }

    h1, h2, h3, h4, h5, h6 {
      .icon {
        display: none;
        color: #000;
      }
      &:hover .icon {
        display: inline-block;
      }
    }

    p {
      & ~ p {
        margin-top: 8px;
      }
    }

    .doc-title {
      font-size: 36px;
      font-family: 'RobotoThin';
      padding: 5px 60px;
      margin-bottom: 40px;
      background-image: image-url('bg-rainbow.png');

      a {
        color: #333;
      }
      .draft {
        color: red;
      }
    }

    img.needs-scaling {
      width: 75%;
      height: 75%;
    }

    ul {
      list-style: none;
      list-style-position: inside;
      padding: 0;
      margin: 0 0 10px 45px;

      & ul {
        margin-bottom: 0;
      }
    }

    li {
      line-height: 2.2;
      @include clearfix;

      &:before {
        content: "\0BB \020";
        float: left;
        clear: right;
        font-size: 15px;
        font-family: 'RobotoBlack';
        color: #333;
        margin-right: 10px;
      };
    }

    strong {
      font-family: 'RobotoBold';
      color: #555;
    }

    code, pre {
      font-family: Monaco, Consolas, Inconsolata, "Liberation Mono", "Courier New", monospace;
      font-size: 11px;
      background-color: #444;
      color: white;
      line-height: 1.7;
      @include border-radius(3px);
    }

    code {
      padding: 0 6px;
      display: inline-block;
      &.highlight {
        font-size: 13px;
        line-height: 1em;
      }
    }

    pre {
      padding: 10px;
    }

    .doc-content {
      h1, h2, h3, h4 {
        border-bottom: 1px solid #AAA;
        margin: 40px 0 20px;
        color: #333;
      }


      .setup-first-build {
        font-family: 'RobotoThin';
        display: block;
        padding: 4px 10px 4px;
        font-size: 18px;
        line-height: 3;
        text-align: center;
        vertical-align: baseline;
        cursor: pointer;
        border: 1px solid;
        @include border-radius(3px);
        width: 275px;
        height: 50px;
        margin: 55px auto;
        color: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        background-image: -o-linear-gradient(-89deg, #E65B98 0%, #E3478B 100%);
        background-image: -moz-linear-gradient(-89deg, #E65B98 0%, #E3478B 100%);
        background-image: -ms-linear-gradient(-89deg, #E65B98 0%, #E3478B 100%);
        background-image: linear-gradient(-179deg, #E65B98 0%, #E3478B 100%);
      }

    }

    h1 {
      font-family: 'RobotoThin';
      font-size: 28px;
    }

    h2 {
      font-family: 'RobotoLight';
      font-size: 18px;
    }

    h3 {
      font-family: 'RobotoRegular';
      font-size: 14px;
    }

    h4 {
      font-family: 'RobotoBold';
      font-size: 12px;
    }

    section {
      padding: 0 8px;
      border: 1px solid #EEE;
      background-color: #FEFEFE;

      h1, h2, h3, h4 {
        font-family: 'RobotoRegular';
        font-size: 14px;
        border: none;
        margin: 4px 0 0;
        color: #333;
      }
    }

    blockquote {
      padding: 6px 12px;
      margin: 12px 12px;
      border-left: 4px solid #575757;
      font-family: 'RobotoRegular';
      font-size: 14px;
      background-color: darken(#F9F9F9, 5%);
      width: 60%;
    }
  }
}
