@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";

.content {
  font-family: 'URWGeometric-Regular';
  margin: 0 auto;
  @include clearfix;

  .topic-container, .sidebar-container {
    float: left;
    width: 100%;
    position: relative;
  }

  .sidebar-container {
    background-color: #AAA;
  }

  .topic-container {
    left: 25%;
    background-color: #FEFEFE;

    .toc-anchor {
      font-size: 0.7em;
      padding-left: 6px;
      color: #575757;
      font-weight: bold;
    }
  }

  .topic, .sidebar {
    float: left;
    position: relative;
  }

  .topic {
    right: 25%;
    width: 75%;

    .doc-content {
      padding: 0 60px 60px;
    }

    h1, h2, h3, h4, h5, h6 {
      .icon {
        display: none;
        color: #000;
      }

      &:hover .icon {
        display: inline-block;
      }
    }

    p {
      margin-right: 10%;

      & ~ p {
        margin-top: 8px;
      }
    }

    li {
      margin-right: 10%;
      .wip {
        border: none;
        padding-left: inherit;
      }
    }

    .wip {
      border: 1px solid #eee;
      @include border-radius(5px);
      padding-left: 10px;
      padding-right: 10px;
      &:after {
        content: '[wip]';
        padding-left: 4px;
        font-size: 60%;
        vertical-align: middle;
        color: red;
      }
    }

    .doc-title {
      font-size: 36px;
      font-family: 'URWGeometric-Thin';
      padding: 5px 60px;
      margin-bottom: 20px;
      background-image: image-url('bg-rainbow.png');

      a {
        color: #333;
      }
      .draft {
        color: red;
      }
    }

    img.needs-scaling {
      width: 75%;
      height: 75%;
    }

    .api-method-url {
      box-sizing: border-box;
      border: 1px solid #ddd;
      padding: 10px;
      width: 80%;
      overflow-x: scroll;
      white-space: pre;
    }

    table.api-params {
      width: 80%;

      th, td {
        border: 1px solid #ddd;
        padding: 6px 13px;
      }

      td {
        &:nth-child(1), &:nth-child(2) {
          font-family: Monaco, Consolas, Inconsolata, "Liberation Mono", "Courier New", monospace;
          white-space: nowrap;
        }
      }

      th {
        font-family: 'URWGeometric-Bold';
        font-size: 15px;
        color: #555;
        text-align: center;
      }
    }


    .example-request {
      padding-top: 20px;
    }

    .example-response {
      padding-top: 20px;
    }

    .request-curl {
      width: 80%;
    }

    .response {
      width: 80%;
      .response-headers pre {
        background-color: #f0f0f0;
        color: #4A4A4A;
      }

      .response-body pre {
        margin-top: -3px;
      }
    }
    ul {
      list-style: none;
      list-style-position: inside;
      padding: 0;
      margin: 10px 0 10px 18px;

      & ul {
        margin-bottom: 0;
      }
    }

    li {
      line-height: 2;
      @include clearfix;

      &:before {
        content: "\0BB \020";
        float: left;
        clear: right;
        font-size: 15px;
        font-family: 'URWGeometric-Medium';
        color: #333;
        margin-right: 10px;
      };
    }

    strong {
      font-family: 'URWGeometric-Bold';
      color: #555;
    }

    pre, code {
      font-family: Monaco, Consolas, Inconsolata, "Liberation Mono", "Courier New", monospace;
      font-size: 11px;
      line-height: 1.7;
      @include border-radius(3px);
    }

    pre {
      background-color: #444;
      color: white;

      code {
        width: 100%;
        background-color: inherit;
        overflow-x: scroll;
      }
    }

    code {
      background-color: #f0f0f0;
      padding: 0 2px;
      display: inline-block;
      &.highlight {
        font-size: 13px;
        line-height: 1em;
      }
    }

    pre {
      padding: 10px;
    }

    .doc-content {
      h1, h2, h3, h4 {
        border-bottom: 1px solid #AAA;
        margin: 40px 0 20px;
        color: #333;
        line-height: 1.4;
      }

      h3 {
        margin-right: 10%
      }

      h4 {
        border-bottom: none;
        text-decoration: underline;
      }

      h1 {
        font-family: 'URWGeometric-Light';
        font-size: 28px;
      }

      h2 {
        font-family: 'URWGeometric-Regular';
        font-size: 22px;
      }

      h3 {
        font-family: 'URWGeometric-Bold';
        font-size: 16px;
      }

      h4 {
        font-family: 'URWGeometric-Bold';
        font-size: 12px;
      }

      .setup-first-build {
        font-family: 'URWGeometric-Thin';
        display: block;
        padding: 4px 10px 4px;
        font-size: 18px;
        line-height: 3;
        text-align: center;
        vertical-align: baseline;
        cursor: pointer;
        border: 1px solid;
        @include border-radius(3px);
        width: 275px;
        height: 50px;
        margin: 55px auto;
        color: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        background-image: -o-linear-gradient(-89deg, #E65B98 0%, #E3478B 100%);
        background-image: -moz-linear-gradient(-89deg, #E65B98 0%, #E3478B 100%);
        background-image: -ms-linear-gradient(-89deg, #E65B98 0%, #E3478B 100%);
        background-image: linear-gradient(-179deg, #E65B98 0%, #E3478B 100%);
      }

      #toc{
        ul {
          list-style-type: lower-roman;
          li:before {
            content: '';
          }
        }
      }
    }

    section {
      padding: 0 8px;
      border: 1px solid #EEE;
      background-color: #FEFEFE;

      h1, h2, h3, h4 {
        font-family: 'URWGeometric-Regular';
        font-size: 14px;
        border: none;
        margin: 4px 0 0;
        color: #333;
      }
    }

    blockquote {
      padding: 6px 12px;
      margin: 12px 12px;
      border-left: 4px solid #575757;
      font-family: 'URWGeometric-Regular';
      font-size: 14px;
      background-color: darken(#F9F9F9, 5%);
      width: 60%;
    }
  }
}
