---
title: Deploying with Snap
doc_title: Deploying with Snap CI
---

## Heroku

We provide out of the box support for Heroku deployments. Take a look in our 
<a href="/deployments/heroku-deployments/">heroku deployments page</a>.

## Amazon AWS

It's also easy to <a href="/deployments/aws-deployments/">deploy on AWS</a>. [AWS CLI](http://aws.amazon.com/cli/) is pre-installed and ready for your use.

You can also use Amazon's [Elastic Beanstalk](http://aws.amazon.com/elasticbeanstalk/), check out our [blog post](http://blog.snap-ci.com/blog/2013/10/21/aws-elastic-beanstalk/) explaining how to do it.

## Custom deployments

If you have a more complex deployment process, or need more tools installed in the containers in other to achieve it, don't hesitate on using your full sudo access to configure and install anything needed.

We'll be glad to help you if you need anymore assistance. Just [contact us](<%= data.links.contact_us %>).

#What's next

<%= topic_link 'how do i add ssh keys to my build?', 'How do I add SSH keys to my build?' %>

<%= topic_link 'using pipelines', 'Using pipelines' %>

<%= topic_link 'debugging', 'My build is failing for unknown reasons, is there someway I can debug the build?' %>

