<div class="footer">
  <p class="copyright">&copy; 2011-<%= Time.now.year %> ThoughtWorks, Inc.</p>
  <p class="fork-and-edit"><%= link_to "Fork and edit this guide on Github", edit_documentation_url %></p>
</div>
