<div class="header">
  <a href="https://snap-ci.com" class="logo"></a>
  <div class="header-actions">
    <a href="https://github.com/login/oauth/authorize?scope=repo,user:email&amp;client_id=1cf87aecc4db30dd23a4" class="login">Login</a>
    <a href="http://blogs.snap-ci.com" class="blogs">Blog</a>
    <a href="https://snap-ci.com" class="docs">Home</a>
  </div>
</div>
