---
title:  "Docker FAQ"
doc_title: "Some commonly asked questions"
---

### How do I get Docker support?

Sign Up for Snap CI and contact us at <a href="mailto:support@snap-ci.com">Snap CI support</a>. Let us know you want access to Docker and we will help you from there.

### Why do I need to contact you for Docker support?

Docker support is still early access and is not generally available. To ensure the best possible experience with Snap CI’s Docker support we would like to help you along the way. Once Docker is generally available you will no longer need to contact us.

### Which Docker commands do you support?

All of ‘em. Checkout Docker’s helpful <a href="https://docs.docker.com/engine/reference/commandline/cli/">docs.docker.com</a> for all the details on how to use.

### How do I get started with Snap and Docker?

We suggest that you use one of our public repos (such as <a href="https://github.com/snap-ci-examples/node-js-docker">our node-js-docker repo</a>) to create an example Docker pipeline.

### Do I have to pay extra for Docker support?

Nope. Whether you are free plan user or a user using 20+ workers you can use Docker on Snap.

### I’m an existing Snap user. Can my build use Docker?

Yes and no. In order to offer Docker support you will need to be on our <a href="/the-ci-environment/stacks/">new Cybele stack</a>. Please contact us via “talk to us” or at contact us at <a href="mailto:support@snap-ci.com">Snap CI support</a> to understand more about moving builds to Ubuntu.

### How did you build this?

Building Docker support on Snap CI posed many interesting technical challenges. You can read about it more on our <a href="https://blog.snap-ci.com/categories/docker/">blog series on Docker</a>.

### Which Docker registries can I deploy to?

We allow Snap builds to execute Docker commands. Although we have not tested everything we confident that you'd able to use any registry that supports the standard Docker commands such as Google Docker Registry, etc... Take a look at <a href="/the-ci-environment/docker/deploying-docker-images/">deploying Docker images</a> for more information.
