@import 'compass';
@import 'compass/reset';
@import 'fonts.css.scss';
@import 'images.css.scss';
@import 'sidebar.css.scss';
@import 'topic.css.scss';

html, body {
  height: 100%;
}

body {
  font-family: 'OpenSansLight';
  font-size: 13px;
  line-height: 1.9;
  color: #4A4A4A;
  background-color: #F9F9F9;

  * {
    line-height: 2;
  }

  a {
    text-decoration: none;
  }

  em {
    font-style: italic;
  }

  .site {
    .header {
      padding: 10px 30px 5px 30px;
      background-color: #FFF;
      @include clearfix;

      .logo {
        float: left;
        width: 200px;
        height: 40px;
        background: url('images/snap-logo-black.png') no-repeat 0 0;
        padding: 12px 0 0 165px;
        font-family: MarydaleRegular;
        font-size: 22px;
        color: #ff5e3b;
      }

      .header-actions {
        float: right;
        font-size: 13px;
        letter-spacing: 1px;
        @include clearfix;

        .docs, .blogs, .login {
          color: #676767;
          float: right;
          font-size: 18px;
          margin-left: 20px;
          padding: 8px;
          text-align: center;
        }

      }

    }

    .footer {
      margin-top: 20px;
    }
  }
}
