.sidebar {
  padding: 30px 0;
  width: 20%;
  right: 20%;
  background-color: #575757;
  
  .topic-listing {
    list-style: none;

    .section-name, .title {
      padding: 0 0 0 18px;
    }

    .section-name {
      color: #AAA;
      font-family: RobotoMedium;
      font-size: 13px;
    }

    .title {
      font-family: RobotoLight;
      font-size: 12px;
      padding-right: 20px;

      a {
        color: #EEE;
      }

      &.current {
        background-color: rgba(238, 238, 238, 0.7);
        color: #000;

        a {
          font-family: RobotoMediumItalic;
          color: inherit;
        }
      }
    }
  }
}