.content {
  font-family: 'RobotoRegular';
  margin: 0 auto;
  @include clearfix;

  .topic-container, .sidebar-container {
    float: left;
    width: 100%;
    position: relative;
  }

  .sidebar-container {
    background-color: #575757;
  }

  .topic-container {
    left: 20%;
    background-color: #F9F9F9;
  }

  .topic, .sidebar {
    float: left;
    position: relative;
  }

  .topic {
    right: 20%;
    width: 80%;
    
    .doc-content {
      padding: 0 60px;
    }
    
    p {
      & ~ p {
        margin-top: 8px;
      }
    }

    .doc-title {
      font-size: 36px;
      font-family: 'RobotoThin';
      padding: 5px 60px;
      margin-bottom: 40px;
      background-image: url('images/bg-rainbow.png');
      
      a {
        color: #333;
      }
    }


    ul {
      list-style: none;
      list-style-position: inside;
      padding: 0;
      margin: 0 0 10px 25px;

      & ul {
        margin-bottom: 0;
      }
    }

    li {
      line-height: 2.2;
      
      &:before {
        content: "\0BB \020";
        display: inline-block;
        font-family: 'RobotoBold';
        font-size: 15px;
        color: #333;
        margin-right: 4px;
      };
    }

    strong {
      font-family: 'RobotoBold';
      color: #555;
    }

    code {
      font-family: Monaco, Consolas, Inconsolata, "Liberation Mono", "Courier New", monospace;
      font-size: 11px;
      display: inline-block;
      background-color: #444;
      padding: 0 6px;
      color: white;
      line-height: 1.7;
      @include border-radius(3px);
    }

    h2, h3, h4 {
      border-bottom: 1px solid #AAA;
      margin: 40px 0 20px;
      color: #333;
    }

    h1 {
      font-family: 'RobotoThin';
      font-size: 28px;
    }

    h2 {
      font-family: 'RobotoLight';
      font-size: 18px;
    }
    
    h3 {
      font-family: 'RobotoRegular';
      font-size: 14px;
    }
    
    h4 {
      font-family: 'RobotoBold';
      font-size: 12px;
    }
    
    section {
      padding: 0 8px;
      border: 1px solid #EEE;
      background-color: #FEFEFE;
      
      h1, h2, h3, h4 {
        font-family: 'RobotoRegular';
        font-size: 14px;
        border: none;
        margin: 4px 0 0;
        color: #333;
      }
    }
  }
}