.content {
  font-family: 'RobotoRegular';
  margin: 0 auto;
  @include clearfix;

  .topic-container, .sidebar-container {
    float: left;
    width: 100%;
    position: relative;
  }

  .topic-container {
    left: 20%;
  }

  .topic, .sidebar {
    float: left;
    position: relative;
    min-height: 650px;
  }

  .topic {
    right: 16%;
    width: 74%;
    padding: 10px 0;
    
    p {
      line-height: 2;
      
      & ~ p {
        margin-top: 8px;
      }
    }

    .doc-title {
      font-size: 36px;
      font-family: 'RobotoThin';
      margin-bottom: 15px;
      color: #333;
    }


    ul {
      list-style: none;
      list-style-position: inside;
      padding: 0;
      margin: 0 0 10px 25px;

      & ul {
        margin-bottom: 0;
      }
    }

    li {
      line-height: 2.2;
      
      &:before {
        content: "\0BB \020";
        display: inline-block;
        font-family: 'RobotoBold';
        font-size: 15px;
        color: #333;
        margin-right: 4px;
      };
    }

    strong {
      font-family: 'RobotoBold';
      color: #555;
    }

    code {
      font-family: Monaco, Consolas, Inconsolata, "Liberation Mono", "Courier New", monospace;
      font-size: 11px;
      display: inline-block;
      background-color: #444;
      padding: 0 6px;
      color: white;
      line-height: 1.7;
      @include border-radius(3px);
    }

    h1, h2, h3, h4 {
      margin: 15px 0 0;
      color: #333;
    }

    h1 {
      font-family: 'RobotoThin';
      font-size: 28px;
    }

    h2 {
      font-family: 'RobotoLight';
      font-size: 18px;
    }
    
    h3 {
      font-family: 'RobotoRegular';
      font-size: 14px;
    }
    
    h4 {
      font-family: 'RobotoBold';
      font-size: 12px;
    }
  }

  .sidebar {
    padding: 30px 0;
    min-width: 270px;
    width: 20%;
    right: 20%;
    background-color: #575757;

    .topic-listing {
      list-style: none;

      .section-name, .title {
        padding: 0 0 0 18px;
      }

      .section-name {
        color: #AAA;
        font-family: RobotoMedium;
        font-size: 13px;
      }

      .title {
        font-family: RobotoLight;
        font-size: 12px;
        padding-right: 20px;

        a {
          color: #EEE;
        }

        &.current {
          background-color: rgba(238, 238, 238, 0.7);
          color: #000;

          a {
            font-family: RobotoMediumItalic;
            color: inherit;
          }
        }
      }
    }
  }

}
