---
title: "Troubleshooting"
---

# The variables I exported in the commands is not taking into effect.

Every command runs in its own shell. Due to this, if you export an environment variable as a previous command,
it may not be available to the subsequent commands. We recommend defining environment variables in the **Environment Variable** section of the stage.

As an example, if you setup a stage with the following commands, they wont work:

    $ export MY_ENV="env"
    $ echo ${MY_ENV} # won't work.

If there is a case where the environment variables are dynamically generated, you can write them to a file and then source
the file before every command that requires those variables as shown in the following example:

    $ echo export MY_ENV="env" > env_variables
    $ source ./env_variables; some_command_that_needs_the_variables
    $ source ./env_variables; some_other_command_that_needs_the_variables

# My build can't find the dependencies from the previous stages.

Every stage in Snap starts with a clean and isolated environment. Hence, if you made any changes to the build machine
such as installing packages or build dependencies in the previous stages they may not be available in the current stage
as it may be running on a different machine. If you wish to persist the state across stages it is recommended to use
<a href="/pipeline/#pinning-common-setup-commands">Setup commands</a> or <a href="/pipeline/#artifact">Artifacts</a>.

# My Protractor tests using Chromedriver are not working.

Some projects may attempt to download a brand new chromedriver to install inside your project. This normally happens if you depend on the chromedriver rubygem or npm package. Please, read <a href="/the_ci_environment/testing_with_browsers/#using-chromedriver">"using chromedriver"</a> for more details.

Some tips to configure run your Protractor tests:

* Do not use *xvfb-run*.
* Configure protractor to use our chromedriver. To set it, just change the configuration *chromeDriver* to */usr/local/bin/chromedriver*.
* Currently Protractor can't start selenium server inside our containers. To avoid this error you can set *chromeOnly* to *true*, then Protractor will use chromedriver directly.

# I need my ssh keys on Snap.

The easiest way to configure your ssh keys on Snap is to add them to the file `~/.ssh/config` using environment variables.
You will need to add an variable `$SSH_CONFIG` which would contain the host configuration. For example, if your need it for Github:

```
Host github.com
  User git
  Hostname github.com
  IdentityFile <path_to_key>
```
And another one that would contain your key. Let assume that we named it `$SSH_KEY`.

Now we can run some tasks in our stage to set it up.

```
$ echo "$SSH_CONFIG" >> ~/.ssh/config
$ echo "$SSH_KEY" > <path_to_key>
$ chmod 600 <path_to_key>
```

And it's done. You can now use the key for anything that you want.

