---
title:  "Snap CI's Stacks"
doc_title: "Snap CI's Stacks"
---

Stacks are CI environments that you can use on Snap CI to run your builds on. Our stacks support different operating systems and packages that support different CI environment needs.

There are two current stacks: the main production stack 'Aurora' and the beta ‘Cybele’ stack.

### Aurora

Aurora was the original stack of Snap and was launched in 2015. It supports a CentOS 6 based build environment and does not have Docker support.

### Cybele

Cybele is our next generation stack. It is a brand new stack that provides Ubuntu 14.04 based build environments in addition to supporting [Docker based build &amp; deployment workflows](/the-ci-environment/docker/).

Access to Cybele is by request only. If you'd like access to Cybele please contact us at <a href="mailto:support@snap-ci.com">Snap CI support</a>.

#### How to configure a stack

You can select which stack to use when configuring your pipeline. 

<%= retina_image 'screenshots/cybele' %>

Pipelines can be switched to run on any stack at any time.

#### Known limitations on Cybele

* Running multi workers in parallel is not supported
** (If you accidently use multiple workers on this stack your build will hang. Please contact us to resolve this issue.) 
* No PHP support
* No Django support
* No MongoDB support
