---
title:  "Snap CI's Stacks"
doc_title: "Snap CI's Stacks"
---

Stacks are CI environments that you can use on Snap CI to run your builds on. Our stacks support different operating systems and packages that support different CI environment needs.

There are two current stacks: the main production stack 'Aurora' and the beta ‘Cybele’ stack.

Access to Cybele is by request only. If you'd like access to Cybele to use our Ubuntu or Docker support please contact us at <a href="mailto:support@snap-ci.com">Snap CI support</a>.
